/*#011627 granatowy, #FDFFFC biały, #2EC4B6 morski, #C1134D malinowy, #FF9F1C pomarańczowy*/
.homepage {
  .form-signin {
    border-radius: 10px;
    margin: 0 auto;
    background-color: #2EC4B6;
    padding: 20px;

  }

  .login-page .btn {
    background-color: #011627;
    border: 0;
  }

  body {
    background-color: #F4F4EF;
    font-family: 'Gentium Basic', serif;
  }

  .login-page .form-control {
    color: #383737;
    box-shadow: none;
    border: 0;
    margin-bottom: 5px;
  }

  .login-page .form-signin-heading {
    text-align: center;
  }

  .login-page .btn-primary:hover {
    background-color: #022C4F;
  }

  .head {
    background-color: #C1134D;
    text-align: center;
    padding: 50px 0 60px;
    color: #ffffff;
    margin-bottom: 15px;
  }

  .head h1 {
    font-size: 4em;
    font-weight: bold;
    display: inline-block;
    position: relative;
  }

  .head h1:after {
    content: "";
    height: 4px;
    width: 110%;
    position: absolute;
    bottom: -2px;
    left: -5%;
    background-color: white;
  }

  .list-page {
    color: #011627;
  }

  .list .picture img {
    width: 100%;
  }

  .hotel-row {
    background-color: #ffffff;
    height: 300px;
    margin-bottom: 15px;
    position: relative;
    padding-left: 15px;
  }

  .picture {
    height: 300px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }

  .picture:before {
    height: 200%;
    width: 200px;
    background: white;
    content: "";
    position: absolute;
    left: -200px;
    bottom: 0;
    transform: rotate(30deg);
    transform-origin: bottom right;
  }

  .description {
    font-size: 1.5em;

  }

  .description h2 {
    margin-top: 15px;
    font-size: 2.5em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }

  .btn {
    font-family: 'Open Sans', sans-serif;
  }

  .hotel-footer {
    bottom: 20px;
    left: 15px;
    position: absolute;
  }

  .btn.btn-primary {
    background-color: #C1134D;
    border: 0;
  }

  .btn-default {

  }

  .row {
    position: relative;

  }
}