<div class="review-fragment">
    <div class="row">
        <div class="col-md-8">
            {% block title %}
                <span class="meta meta-title">
                    User <b>{{ review.user.firstname }} {{ review.user.lastname }}</b> added review
                </span>
            {% endblock %}
        </div>
        <div class="col-md-4">
            {% block status %}
            {% endblock %}
        </div>
        <div class="col-md-12">
            <span class="meta meta-rating">
                <b>Rating:</b> {% include '@web/components/star-rating.twig' with { 'rating' : review.rating } %}
            </span>
            <span class="meta meta-hotel">
                <b>Hotel: </b> {{ review.hotel.name }}
            </span>
        </div>
    </div>
    <p>
        {{ review.text }}
    </p>
    {% block footer %}
    {% endblock %}
</div>