{% extends '@web/layout/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="box">
                        <h4>Reviews ({{ reviews|length }})</h4>
                        {% for review in reviews %}
                            {% include '@admin/content/review-fragment-admin.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include '@admin/components/modal-review-form.twig' %}
{% endblock %}