$hotel-fragment-height: 200px;

.hotel-fragment {
  background-color: #ffffff;
  height: $hotel-fragment-height;
  margin-bottom: 15px;
  .hotel-content {
    padding: 15px;
    height: $hotel-fragment-height;
    .hotel-description {
      padding-bottom: 47px;
      position: relative;
      height: 100%;
      h2 {
        margin-top: 0;
        margin-bottom: 0.2em;
        font-size: 2.5em;
        display: inline;
      }
      p {
        margin: 5px 0 10px 0;
      }
      .star-rating {
        display: inline;
        margin-left: 15px;
      }
      .hotel-footer {
        margin-top: 15px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .hotel-picture {
    height: $hotel-fragment-height;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    img {
      width: 100%;
    }
    &:before {
      height: 200%;
      width: 200px;
      background: white;
      content: "";
      position: absolute;
      left: -200px;
      bottom: 0;
      transform: rotate(30deg);
      transform-origin: bottom right;
    }
  }
}

.review-fragment {
  border-bottom: 1px solid #f4f4ef;
  margin: 15px auto;
  .meta {
    font-family: $font1;
    .star-rating {
      display: inline;
      position: relative;
      top: 1px;
      margin: 0 2em 0 0.5em;
    }
    &.meta-status {
      display: block;
      text-align: right;
    }
  }
  .label {
    cursor: help;
    position: relative;
    top: -1px;
  }
  p {
    margin: 8px auto;
  }
}