{% extends '@web/layout/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <section class="box box-reviews">
                        <h4>My reviews ({{ reviews|length }})</h4>
                        {% if reviews|length %}
                            {% for review in reviews %}
                                {% include '@web/content/review-fragment-user.twig' %}
                            {% endfor %}
                        {% else %}
                            <p>You don't have any reviews!</p>
                        {% endif %}
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="box box-details">
                        <h4>Personal details</h4>
                        <form class="form --validator" method="post">
                            <input type="hidden" name="action" value="update-account"/>
                            {% if site.messages %}
                                <div class="form-group">
                                    {% include '@web/components/messages.twig' %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputFirstName" class="control-label">First name</label>
                                <input id="inputFirstName" class="form-control" type="text" name="first_name" required
                                       data-maxlength="100" data-maxlength-error="Maximum of 100 characters"
                                       value="{{ user.firstname }}"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="control-label">Last name</label>
                                <input id="inputLastName" class="form-control" type="text" name="last_name"
                                       data-maxlength="100"
                                       required data-maxlength-error="Maximum of 100 characters"
                                       value="{{ user.lastname }}"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="control-label">Email</label>
                                <input id="inputEmail" class="form-control" type="email" name="email"
                                       required data-error="Please enter a valid email address"
                                       value="{{ user.email }}"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="control-label">Password</label>
                                <input id="inputPassword" class="form-control" type="text" name="password"
                                       data-pattern="(?=.*\d)" data-minlength="8"
                                       required
                                       data-error="Password should have at least 8 characters and contain a number"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}