{% extends '@web/layout/base.twig' %}

{% block content %}
    <div class="container">
        <div class="page-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <section class="box box-reviews">
                        <h4>My reviews</h4>
                        {% for i in 1..5 %}
                            <div class="review-fragment">
                                <div class="row">
                                    <div class="col-md-8">
                                        <span class="meta meta-title">User <b>pawel</b> added review at
                                                <b>12.12.1234</b>
                                        </span>
                                    </div>
                                    <div class="col-md-4">
                                        <span class="meta meta-status">
                                            <span class="label label-danger"
                                                  title="This review has been changed by moderator">Moderated</span>
                                        </span>
                                    </div>
                                    <div class="col-md-12">
                                        <span class="meta meta-rating">
                                            <b>Rating:</b> {% include '@web/components/star-rating.twig' with { 'rating' : 2 } %}
                                        </span>
                                        <span class="meta meta-hotel">
                                            <b>Hotel: </b> Hotel Rock
                                        </span>
                                    </div>
                                </div>
                                <p>
                                    comment
                                </p>
                            </div>
                        {% endfor %}
                    </section>
                </div>
                <div class="col-md-6">
                    <section class="box box-details">
                        <h4>Personal details</h4>
                        <form class="form --validator">
                            <div class="form-group">
                                <label for="inputFirstName" class="control-label">First name</label>
                                <input id="inputFirstName" class="form-control" type="text" name="first_name" required
                                       data-maxlength="100" data-maxlength-error="Maximum of 100 characters"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputLastName" class="control-label">Last name</label>
                                <input id="inputLastName" class="form-control" type="text" name="last_name"
                                       data-maxlength="100"
                                       required data-maxlength-error="Maximum of 100 characters"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="control-label">Email</label>
                                <input id="inputEmail" class="form-control" type="email" name="email"
                                       required data-error="Please enter a valid email address"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="control-label">Password</label>
                                <input id="inputPassword" class="form-control" type="text" name="password"
                                       data-pattern="(?=.*\d)" data-minlength="8"
                                       required
                                       data-error="Password should have at least 8 characters and contain a number"/>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
{% endblock %}