<!DOCTYPE html>
<html lang="en">
    {% include 'layout/head.twig' %}
<body class="list-page">
    {% include 'layout/navbar.twig' %}
    {% block content %}
    {% endblock %}
    {% include 'layout/footer.twig' %}
</body>
</html>